<nav class="navbar navbar-expand-sm navbar-light bg-success fixed-top">
    <a class="navbar-brand" href="#">Angular barnd</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" routerLink="dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about">About</a>
            </li>
            <li class="nav-item ">
            <a class="nav-link" routerLink="contact">Contact detail</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="projects">Projects</a>
                </li>
        </ul>
        <form class="form-inline ml-auto">
            <input type="text" class="form-control mr-2" placeholder="Search">
            <button class="btn btn-outline-warning">Search</button>
        </form>  
    </div>
</nav>

<div class="container-fluid">
    <!-- below tag will add the respectie page when user click on button on screen using router logic -->
<router-outlet></router-outlet>   
</div>

